<li class="tasks-list-item {{rtlDirection ? 'rtlDirection' : ''}}">
    <input type="checkbox" name="task{{task?.id}}" id="task{{task?.id}}" class="checkbox" (change)="onChangeTask()" [checked]="task?.taskIsDone"> 
    <label for="task{{task?.id}}" title="{{task?.description}}"> 
        <span> 
            {{task?.title}}
        </span> 
    </label>

    <div class="action-btns-container">
        <a type="button" routerLink="/edit/{{task?.id}}" ><img src="../../../../assets/imgs/edit.png"/></a>
        <a type="button" (click) = "deleteTaskById()"><img src="../../../../assets/imgs/remove.png"/></a>
    </div>
</li>
